@import "./fonts.css"; 
html{
    box-sizing: border-box;
    font-size: 62.5%;
}
body{
    line-height: 1.6;
    font-size: 1.6rem;
    font-family:  VazirReular;
    background-color: #DFE7FD;
    padding: 4rem;
}
*,
*::after,
*::before{
    outline: none;
    box-sizing: inherit;
}
svg{
    width: 3rem;
    height: 3rem;
}
.loading{
 
}
.loading::before,
.loading::after {    
  content: "";
  grid-area: 1/1;
  margin: 2px;
  border: inherit;
  border-radius: 50%;
}
.loading::before {
  border-color: #f03355 #0000;
  animation: inherit; 
  animation-duration: .5s;
  animation-direction: reverse;
}
.loading::after {
  margin: 8px;
}
@keyframes l16 { 
  100%{transform: rotate(1turn)}
}





.low{
     border: 2px solid #BEE1E6;
    background-color: #E2ECE9;
}
.medium{
    border: 2px solid #f9df74;
    background-color: #f9edcc;
}
.high{
    border: 2px solid #FAD2E1;
    background-color: #FDE2E4;
}
.topSection{
    display: flex;
    align-items: center;
    justify-content: space-between;   
}
.topSection span{
    font-family: VazirBold;  
}
.middleSection{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    margin-top: 5rem;
}
.taskwrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    border-radius: 2rem;
}
.taskwrapper span{
    margin: auto;
    color: gray;
}
.iconswrapper button{
    border: none;
    background-color: transparent;
}
.iconswrapper svg{
 transition: all 200ms ease-in;
}
.iconswrapper svg:hover{
 transform: scale(1.1);
}
.bottomSection{
    position: fixed;
    bottom: 2rem;
    right: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.bottomSection input{
    width: 80%;
    padding: 2rem;
    border: none;
    border-radius: 2rem;
    font-family: VazirBold;
}
.bottomSection button{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    border: none;
    height: 56px;
    width: 56px;
    background-color: white;
    color: #800080 ;
    transition: all 200ms ease-in;
}
.bottomSection button:hover{
   transform: scale(1.1);
}

@media (max-width : 768px) {  
    .middleSection{
        grid-template-columns: repeat(1, 1fr);
    }
}
@media (max-width : 480px) {  
    .bottomSection input{
        height: 4rem;
    }
    .bottomSection button{
        height: 4rem;
        width: 4rem;
    }
    .bottomSection button svg{
        height: 2rem;
        width: 2rem;
    }
}


